.main-app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout-height {
  flex: 1;
}

.main-layout {
  // margin: 0 auto;
  padding: 20px 110px;

  // padding: 20px;
}
